.masonry {
  width: 100%;
}
.masonry-item {
  width: 100%;
  padding: 1%;
}

@media screen and (min-width: 600px) {
  .masonry-item {
    width: 50%;
  }
}

@media screen and (min-width: 950px) {
  .masonry-item {
    width: 33%;
  }
}
