img {
  max-width: 50%;
}
.share-container {
  width: 100vw;
  max-height: 100%;
  height: 566px;
  display: flex;
  justify-content: space-between;
}
.share-item-card {
  width: 50%;
  margin-top: 70px;
  margin-left: 120px;
  max-width: 300px;
}
.share-gravatar {
  border-radius: 50%;
}
